

body {
    width: 100%;
    margin: auto;
    height: 100%;
    background-image: url(/img/Fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.contenedor{
  width: 150px;
  height: auto;
  margin: auto;
  margin-bottom: 5%;
}

h1{
  text-align: center;
  margin-top: 30px;
  color: white;
  overflow: auto;
  width: auto;
  height: 45px;
  font-size: 35px;
}

h2{
  text-align: center;
  color: white;
  margin-bottom: 1%;
  width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 800px;
    background-color: rgba(220, 220, 220, 0);
    overflow: auto;
    margin-left: 43%;
    margin-bottom: 4%;
}


  li {
    text-align: center;
    padding: 0%;
    border: 1px solid #555;
    
  }
  


  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 17px;
  }
  


  li a.activo {
    background-color: orange;
    color: white;
  }
  


  li a:hover:not(.activo) {
    background-color: darkcyan;
    color: black;
  }

