*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
}

body {
  background-image: url(/img/Fondo.jpg);
  background-repeat: no-repeat;
  background-position: center top;
    width: 100%;
    margin: auto;
    height: 100%;
}

.contenedor{
  width: 1349px;
  height: 1480px;
  margin: auto;
  margin-bottom:0%;
  font-size: 30px;
}

.contenedor h1{
  margin-top: 5%;
  text-align: center;
  color: white;
}

h2{
  text-align: center;
  color: white;
  width: auto;
  margin-top: -17px;
  font-size: 30px;
  margin-bottom: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(220, 220, 220, 0);
    margin-left: 42.6%;
}


li {
    text-align: center;
    padding: 1%;
    border: 1px solid #fff;
}

li a {
    display: block;
    color: navy;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
  }



  li a.activo {
    background-color: darkblue;
    color: white;
  }
  


  li a:hover:not(.activo) {
    background-color: blue;
    color: white;
  }

